<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Coursera ng</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body data-ng-app="app">
    <h1>Coursera ng!!!</h1>

    <div data-ng-controller="viewerController">
      <span data-ng-if="name">Hi {{ name }}, </span>please change your name <br>
      <input type="text" name="name" 
        data-ng-model="name"
        data-ng-change="updateNumeric()"
        data-ng-blur="upperName()">
      <br><br>
      <small>Total Numeric value of person's name is <b>{{ numeric }}</b></small>
    </div>

  </body>
</html>