<ul class="list-group" data-ng-if="items.length">
  <li class="list-group-item" data-ng-repeat="item in items">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">{{ item.name }}</h2>
        <dl>
          <dt data-ng-if="!item.small_portion_name || !item.large_portion_name">price</dt>
          <dt data-ng-if="item.small_portion_name">{{ item.small_portion_name }}</dt>
          <dd data-ng-if="item.price_small">${{ item.price_small }}</dd>
          <dt data-ng-if="item.large_portion_name">{{ item.large_portion_name }}</dt>
          <dd data-ng-if="item.price_large">${{ item.price_large }}</dd>
        </dl>
        <p>{{ item.description }}</p>
      </div>
      <div class="media-right">
        <button class="btn btn-danger remove" data-ng-click="remove({ index: $index })">Don't want this one!</button>
      </div>
    </div>
  </li>
</ul>